<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="expressions">
            <config key="element 0">
                <entry key="expression" type="xstring" value="// Extract the consortia name from the column header%%00010var columnName = &quot;Q6[1]. Which NFDI consortium/consortia are you representing? [Base4NFDI]&quot;;%%00010var consortiumName = columnName.match(/\[(.*?)\]/)[1]; // Extracts &quot;Base4NFDI&quot;%%00010%%00010// Check and replace the value if it's &quot;yes&quot; (case insensitive)%%00010if (lowerCase(column(columnName)) == &quot;yes&quot;) {%%00010    consortiumName;%%00010} else {%%00010    column(columnName);%%00010}"/>
                <entry key="outputName" type="xstring" value="Name"/>
                <config key="outputType">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <entry key="replaceColumn" type="xboolean" value="true"/>
                <entry key="isCollection" type="xboolean" value="true"/>
            </config>
            <config key="element 1">
                <entry key="expression" type="xstring" value="// Extracting the consortia name from the column header%%00010var columnName = &quot;Q6[2]. Which NFDI consortium/consortia are you representing? [BERD@NFDI]&quot;;%%00010var consortiumName = columnName.match(/\[(.*?)\]/)[1]; // This extracts &quot;Base4NFDI&quot;%%00010%%00010// Checking and replacing the value%%00010if (lowerCase(column(columnName)) == &quot;yes&quot;) {%%00010    consortiumName;%%00010} else {%%00010    column(columnName);%%00010}%%00010"/>
                <entry key="outputName" type="xstring" value="new column1"/>
                <config key="outputType">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <entry key="replaceColumn" type="xboolean" value="false"/>
                <entry key="isCollection" type="xboolean" value="false"/>
            </config>
        </config>
        <entry key="count" type="xint" value="2"/>
        <entry key="failOnInvalidAccess" type="xboolean" value="true"/>
        <entry key="failOnScriptError" type="xboolean" value="false"/>
        <entry key="multiRowAccessWindowSize" type="xint" value="0"/>
        <entry key="multiRowAccessReturnFirstLastWhenOutOfBounds" type="xboolean" value="true"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.expressions.base.node.formulas.FormulasNodeFactory"/>
    <entry key="node-name" type="xstring" value="Column Expressions"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Expression Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.expressions.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.2.0.v202310301555"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Expressions"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.expressions.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.2.0.v202310301555"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Expressions"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
