<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="column_selection">
            <entry key="filter-type" type="xstring" value="name_pattern"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="51"/>
                <entry key="0" type="xstring" value="question_string"/>
                <entry key="1" type="xstring" value="split_0"/>
                <entry key="2" type="xstring" value="split_1"/>
                <entry key="3" type="xstring" value="split_3"/>
                <entry key="4" type="xstring" value="1"/>
                <entry key="5" type="xstring" value="6"/>
                <entry key="6" type="xstring" value="12"/>
                <entry key="7" type="xstring" value="13"/>
                <entry key="8" type="xstring" value="14"/>
                <entry key="9" type="xstring" value="15"/>
                <entry key="10" type="xstring" value="19"/>
                <entry key="11" type="xstring" value="20"/>
                <entry key="12" type="xstring" value="21"/>
                <entry key="13" type="xstring" value="23"/>
                <entry key="14" type="xstring" value="24"/>
                <entry key="15" type="xstring" value="28"/>
                <entry key="16" type="xstring" value="29"/>
                <entry key="17" type="xstring" value="33"/>
                <entry key="18" type="xstring" value="34"/>
                <entry key="19" type="xstring" value="35"/>
                <entry key="20" type="xstring" value="36"/>
                <entry key="21" type="xstring" value="37"/>
                <entry key="22" type="xstring" value="42"/>
                <entry key="23" type="xstring" value="43"/>
                <entry key="24" type="xstring" value="44"/>
                <entry key="25" type="xstring" value="45"/>
                <entry key="26" type="xstring" value="46"/>
                <entry key="27" type="xstring" value="47"/>
                <entry key="28" type="xstring" value="52"/>
                <entry key="29" type="xstring" value="54"/>
                <entry key="30" type="xstring" value="56"/>
                <entry key="31" type="xstring" value="57"/>
                <entry key="32" type="xstring" value="62"/>
                <entry key="33" type="xstring" value="64"/>
                <entry key="34" type="xstring" value="65"/>
                <entry key="35" type="xstring" value="66"/>
                <entry key="36" type="xstring" value="67"/>
                <entry key="37" type="xstring" value="68"/>
                <entry key="38" type="xstring" value="69"/>
                <entry key="39" type="xstring" value="70"/>
                <entry key="40" type="xstring" value="71"/>
                <entry key="41" type="xstring" value="72"/>
                <entry key="42" type="xstring" value="73"/>
                <entry key="43" type="xstring" value="74"/>
                <entry key="44" type="xstring" value="76"/>
                <entry key="45" type="xstring" value="77"/>
                <entry key="46" type="xstring" value="78"/>
                <entry key="47" type="xstring" value="81"/>
                <entry key="48" type="xstring" value="82"/>
                <entry key="49" type="xstring" value="85"/>
                <entry key="50" type="xstring" value="split_2"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value="[0-9]*"/>
                <entry key="type" type="xstring" value="Regex"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="EXPRESSION_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="EXPRESSION" type="xstring" value="replace($$CURRENTCOLUMN$$, &quot;Yes&quot;, $split_3$)"/>
        <config key="APPEND_OR_REPLACE_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="APPEND_OR_REPLACE" type="xstring" value="REPLACE_COLUMNS"/>
        <config key="APPEND_COLUMN_SUFFIX_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="APPEND_COLUMN_SUFFIX" type="xstring" value="_attributes"/>
        <config key="Abort execution on evaluation errors_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Abort execution on evaluation errors" type="xboolean" value="true"/>
        <config key="Insert missing values as null_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Insert missing values as null" type="xboolean" value="true"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.stringmanipulation.multicolumn.MultiColumnStringManipulationNodeFactory"/>
    <entry key="node-name" type="xstring" value="String Manipulation (Multi Column)"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Java Snippet Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.jsnippets"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.2.0.v202310301555"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Javasnippet"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.javasnippet.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.2.0.v202310301555"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="String Manipulation (Multi Column)"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 1025, Cols: 52"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="26384954-f96c-4e80-ae40-3b0e120a1aad"/>
    </config>
</config>
